<?xml version="1.0" encoding="UTF-8"?>
<!-- system information generated for COMP335@MQ, S1-01Jun, 2019 -->
<system>
	<servers>
		<server type="fifa-11" limit="3" bootupTime="45" rate="0.50" coreCount="2" memory="16000" disk="64000" />
		<server type="fifa-12" limit="2" bootupTime="45" rate="1.00" coreCount="4" memory="32000" disk="128000" />
		<server type="fifa-13" limit="1" bootupTime="45" rate="2.00" coreCount="8" memory="64000" disk="256000" />
		<server type="fifa-14" limit="3" bootupTime="30" rate="0.90" coreCount="4" memory="16000" disk="256000" />
		<server type="fifa-15" limit="1" bootupTime="30" rate="3.60" coreCount="16" memory="64000" disk="1024000" />
		<server type="fifa-16" limit="6" bootupTime="120" rate="0.40" coreCount="1" memory="16000" disk="16000" />
		<server type="fifa-17" limit="2" bootupTime="120" rate="1.60" coreCount="4" memory="64000" disk="64000" />
		<server type="fifa-18" limit="1" bootupTime="120" rate="25.60" coreCount="64" memory="4096000" disk="4096000" />
	</servers>
</system>
